**/*.log
**/*.dist
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/compose.override.yaml
**/compose.yaml
**/Dockerfile
.github/
public/bundles/
public/assets/
assets/vendor/
tests/
var/
vendor/
.env.*.local
.env.local
.env.local.php
.env.test
*.sqlite
phpunit.dist.xml
phpstan.dist.neon
Makefile
nvim.log
